*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --mainColor:#7b5244;
    --subColor:#333;
}

.container{
    width: 80%;
    margin: auto;
}

.list-unstyled{
    list-style: none;
}

a{
    text-decoration: none;
}

.section-padding{
    padding:40px 0
}

.section-header{
    text-align: center;
    margin-bottom: 25px;
}

.section-title{
    font-size: 30px;
    margin-bottom:10px;
}
.section-header .line{
    display:block;
    width:100px;
    height: 2px;
    margin:auto;
    background-color:var(--mainColor);
    transition: width .5s;
    
}

.section-header:hover .line{
    width: 150px;
}

.bolts span{
    display:inline-block;
    width:16px;
    height: 16px;
    background-color:var(--subColor);
    border-radius: 50%;
    margin:0 5px 5px 0;
}

.bolts span:hover{
    width:18px;
    height: 18px;
    background-color:var(--mainColor);
}
/* Start header */
header{
    padding:30px 0
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img{
    flex:1;
    max-width: 170px;
}

.header-content nav{
    flex:3;
    text-align: center;
}

.header-content .login{
    flex:1;
    text-align: right;
}


.header-content ul li{
    display: inline-block;
}

.header-content ul li,
.header-content ul li a{
    color:var(--subColor)
}

.header-content nav ul li .link-item{
    padding:10px 24px;
    display: block;
    font-weight: bold;
    position: relative;
}

.header-content nav ul li .link-item:before{
    border-width: 0 2px;
    width:98%;
    height: 100%;
    transform: scale3d(1,0,1);
}

.header-content nav ul li .link-item:before,
.header-content nav ul li .link-item:after{
    position: absolute;
    content: "";
    border-color: var(--mainColor);
    border-style: solid;
    top:0;
    left:0;
    transition: transform .2s;
}

.header-content nav ul li .link-item:hover:before{
    transform: scale3d(1,1,1);
}

.header-content nav ul li .link-item:after{
    border-width: 2px 0 ;
    width:100%;
    height: 91%;
    transform: scale3d(0,1,1);
    transform-origin: left;
}

.header-content nav ul li .link-item:hover:after{
    transform: scale3d(1,1,1);
    transition-delay: .2s;
}

.header-content .login ul li{
    padding:10px;
    font-weight: bold;
}

.header-content .login ul li:last-child i{
    position: relative;
    margin-right: 10px;
}

.header-content .login ul li:last-child i:after{
    position: absolute;
    content: "0";
    background-color: var(--mainColor);
    color:#FFF;
    bottom:0px;
    right: -11px;
    border-radius: 50%;
    padding:4px;
    font-size:13px ;
}

/* dropdown */

.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    width:450px;
    border:2px solid var(--mainColor);
    padding:15px;
    margin-top: 5px;
    background-color: #FFF;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: transform .5s, visibility .5s;
}

.dropdown:hover .dropdown-menu{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.dropdown-menu ul{
    display: table-cell;
    text-align: left;
}

.dropdown-menu ul li:first-child a{
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px dotted var(--mainColor);
}

.dropdown-menu ul li{
    line-height: 1.7;
}
.one{
    width:150px
}

.two{
    width:320px
}

.three{
    width: 300px;
}


/* End header */

/* Start Slider */

section.Slider img{
    width:100%;
}

.Slider-items{
    position: relative;
}

section.Slider .bolts{
    position: absolute;
    top:88%;
    left: 50%;
    
}
/* End Slider */

/* Start category */
.category-items{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 20px;
}

.category-item{
    position: relative;
}

.category-item img{
    width:100%;
    margin-bottom: 25px;
}

.category-item-subtitle{
    color:gray;
    font-weight: normal;
}

.category-item .icon{
    width:40px;
    height: 40px;
    background-color:var(--mainColor);
    color:#FFF;
    text-align: center;
    display: block;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
}

.category-item:hover .icon{
    opacity: 1;
    visibility: visible;
}

.bolts{
    text-align: center;
    margin:50px 0 0 0
}


/*Start discount */

.discount{
    margin:30px 0;
    display: flex;
    grid-template-columns: repeat(4,1fr);
}

.discount-disc{
    flex: 2;
    background-color: #f7f3ef;
    padding: 20px;
    position: relative;
}

.discount-disc .top{
    position: relative;
    padding-left: 60px;
    margin-bottom: 20px;
}

.discount-disc .top + p{
    line-height: 1.8;
}

.discount-disc .bolletts{
    position: absolute;
    right: 30px;
    bottom: 12px;
}

.discount-disc .bolletts span{
    display: inline-block;
    width: 50px;
    height: 2px;
    margin-left: 10px;
    background-color: var(--mainColor);
}

.discount-disc .top .icon{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 50px;
    color:var(--mainColor)
}

.discount-item{
    flex: 1;
    position: relative;
}

.discount-item-info{
    position: absolute;
    left: 20px;
    top: 15px;
}

.discount-item-info h3{
    font-weight: normal;
    color: var(--mainColor);
}

.discount-item-info h2{
    font-size: 20px;
}

.discount-item .images{
    overflow: hidden;
    
}

.discount-item .images img{
    width:100%
}

.images:hover img{
    transform:scale(1.1);
    transition: transform .2s;
}

.discount-item:nth-child(2){
    margin: 0 20px;
}

 /* End category */

 /* sprites */

 .sprites{
     display: flex;
margin-bottom: 55px;
 }

 .sprites-item{
     flex: 1;
     text-align: center;
     border-right: 1px solid var(--mainColor);
 }

 .sprites-item:last-child{
    border:0
}

.sprites-icon{
    background-image: url(../images/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
}

.sprites-icon-1{
    background-position: center 5px;
    transition:all 0.5s;
}

.sprites-item:hover .sprites-icon-1{
    background-position: center -86px;
}

.sprites-icon-2{
    background-position: center -180px;
    transition:all 0.5s;
}

.sprites-item:hover .sprites-icon-2{
    background-position: center -273px;
}

.sprites-icon-3{
    background-position: center -366px;
    transition:all 0.5s;
}

.sprites-item:hover .sprites-icon-3{
    background-position: center -455px;
}

.sprites-icon-4{
    background-position: center -549px;
    transition:all 0.5s;
}

.sprites-item:hover .sprites-icon-4{
    background-position: center -639px;
}

.sprites-icon-5{
    background-position: center -734px;
    transition:all 0.5s;
}

.sprites-item:hover .sprites-icon-5{
    background-position: center -826px;
}

.sprites-info h3{
    font-size:17px;
}

.sprites-info h3{
    color:gray;
    font-size:15px;
}



/* Products */
.Products{

}

.list-products{
    display: flex;
    justify-content: center;
}

.list-products li{
    margin: 10px 20px;
}

.products-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 30px 0;
}


.products-img{
    position: relative;
}

.products-overlay{
    position: absolute;
    top:0;
    left: 0;
    transform: scaleX(0);
    opacity:.9;
    transition: transform .2s;
}

.products-overlay ul{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.products-overlay ul li{
    width:40px;
    height: 40px;
    background-color: var(--mainColor);
    display: inline-block;
    text-align: center;
}

.products-overlay ul li i{
    color:#FFF;
    line-height: 40px;
}

.products-item:hover .products-overlay{
    transform: scaleX(1);
}

.products-item i.active{
    color:#fbda09;
}

.products-item i.icon{
    margin-top: 10px;
}

.products-item span{
    display:block;
    margin:5px 0
}


/* prand */
.prand{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top:120px;
    grid-gap: 45px;
}

.prand .video{
    position: relative;
    grid-column: 1/2;
    overflow: hidden;
    min-width:493px ;
    max-width: 494px;
    min-height:393px ;
    max-height: 394px;
}

.prand .video img:nth-of-type(1){
    width:100%
}

.prand .video img:last-child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.prand .discount-disc{
    grid-column: 2/7;
}

.prand .discount-disc .top h3{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 50px;
    color: var(--mainColor);
}

.prand .discount-disc .top h2{
    margin: 2px 0 0 10px;
}

.prand .discount-disc .top span{
    position: absolute;
    top: 55px;
    left: 0px;
    color: var(--mainColor);
}

.prand .discount-disc p{
    margin-top:55px ;
}

.prand-items{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin:130px 0
}


/* contact-us */

.contact-us{
    background-color: #07071f;
    height: auto;
}

.contact-us-items{
    display: flex;
    height: 300px;
}

.contact-us-item{
    flex: 1;
    padding: 10px;
}

.contact-us-item:first-child{
    flex: 2;
}

.contact-us-item:last-child{
    flex: 1.5;
}

.contact-us-item-info p{
    color:#929292;
    line-height: 1.7;
    margin: 20px 0;
}

.contact-us-item-download img:first-child{
    margin-right: 10px;

}

.contact-us-information h5{
    color:#f1f1f1;
    font-size: 18px;
}

.contact-us-information ul{
    margin-top: 20px;
}

.contact-us-information ul li a{
    line-height: 2;
    color:#929292;
}

.contact-us-information ul li a:hover{
    color:#FFF
}

.contact-us-information:last-child input{
    width: 80%;
    font-size: 16px;
    margin: 45px 0 0 22px;
    padding:8px 10px;
    background: none;
    border:none;
    border-bottom: 1px solid #3c3c3c;
    text-align: center;
    color:#fff

}

.contact-us-information.one{
    width:100%
}

.contact-us-information.one ul{
   display: flex;
   justify-content: space-evenly;
   margin-top: 20px;
}
.contact-us-information.one ul li i{
    color:#929292;
    font-size: 24px;
}

.contact-us-information.one ul li i:hover{
    color:#FFF
}

/* footer  */
footer{
    background-color: #1C1C2B;
    height: auto;
    text-align: center;
    padding: 15px;
    color: #929292;
    border-top: 1px solid #3c3c3c;
}